body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 209.55mm;
  height: 298.45mm;
  padding: 12mm;
  background-color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
}

.title {
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
}
